/*КО ВСЕМУ*/
body {
    font-family: "Courier New";
    background: url(images/fon3.jpg) round;
    background-size: 100%;
}

/*ШАПКА*/
header {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}
/*МЕНЮ*/
.menu {
    width: 30%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header div a {
    color: red;
    font-weight: 800;
    font-size: 25px;
}
header div a:hover {
    color: blue;
    font-size: 27px;
}

/*ПОДВАЛ*/
html, body {
    height: 100%;
}
.container{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    flex: 1;
}
div footer{
    display: flex;
    align-content: center
}


/*  
}
h1 {
    text-align: center;
}

legend,
h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    background-color: #f7e59b;
}

a figure {
    text-align: center;
}

a figure img {
    height="300"
}

.har,
p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #fdd6a7;
}
/*
ul li {
    list-style-image: url(images/marker.png)
}
*/

/*
footer {
    text-align: right;
}

figure {
    text-align: center
}

input {
    width: 400px;
    height: 25px;
    font-size: 16px;
    font-family: "Courier New";
}

form:first-letter {
    text-transform: capitalize;
}

header figure {
    text-align: left;
    margin: 2%;
    height: 170px;
}

header figure img {
    height: 170px;
}

header table tr td a:hover {
    color: brown
}

.e-mail:focus {
    color: crimson;
    background-color: burlywood;
}

div table {
    margin: auto;
    text-align: center;
}

div table tr td {
    border: 1px solid black;
}
*/
