/*КО ВСЕМУ*/

body {
    font-family: "Courier New";
    background-color: antiquewhite;
    margin: 0;
}

/*РАМОЧКИ К ШАПКЕ И ПОДВАЛУ*/

header,
footer {
    background-color: bisque;
    border-bottom: 2px double;
    border-top: 2px double;
    border-color: chocolate;
}

/*ШАПКА*/

header {
    display: flex;
    justify-content: space-around;
    vertical-align: center;
}

.logo{
    height: 150px;
}


/*МЕНЮ*/

.menu {
    width: 30%;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div a {
    color: chocolate;
    font-weight: 800;
    font-size: 25px;
}

header div a:hover {
    color: red;
    font-size: 27px;
}

/*ПОДВАЛ*/

html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

footer {
    text-align: center;
}


/*  
}
h1 {
    text-align: center;
}

legend,
h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    background-color: #f7e59b;
}

a figure {
    text-align: center;
}

a figure img {
    height="300"
}

.har,
p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #fdd6a7;
}
/*
ul li {
    list-style-image: url(images/marker.png)
}
*/

/*
footer {
    text-align: right;
}

figure {
    text-align: center
}

input {
    width: 400px;
    height: 25px;
    font-size: 16px;
    font-family: "Courier New";
}

form:first-letter {
    text-transform: capitalize;
}

header figure {
    text-align: left;
    margin: 2%;
    height: 170px;
}

header figure img {
    height: 170px;
}

header table tr td a:hover {
    color: brown
}

.e-mail:focus {
    color: crimson;
    background-color: burlywood;
}

div table {
    margin: auto;
    text-align: center;
}

div table tr td {
    border: 1px solid black;
}
*/
