body {
    font-family: "Courier New";
    background: url(images/fon3.jpg) round;
    background-size: 100%;
}

header table {
    text-align: center;
    width: 100%;
}

header table a {
    font-size: 20px;
    color: black;
    font-weight: 700;
}

h1 {
    text-align: center;
}

legend,
h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    background-color: #f7e59b;
}

a figure {
    text-align: center;
}

a figure img {
    height="300"
}

.har,
p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: #fdd6a7;
}
/*
ul li {
    list-style-image: url(images/marker.png)
}
*/

footer {
    text-align: right;
}

figure {
    text-align: center
}

input {
    width: 400px;
    height: 25px;
    font-size: 16px;
    font-family: "Courier New";
}

form:first-letter {
    text-transform: capitalize;
}

header figure {
    text-align: left;
    margin: 2%;
    height: 170px;
}

header figure img {
    height: 170px;
}

header table tr td a:hover {
    color: brown
}

.e-mail:focus {
    color: crimson;
    background-color: burlywood;
}

div table {
    margin: auto;
    text-align: center;
}

div table tr td {
    border: 1px solid black;
}
